h1{
    color: darkblue;
    font-style: italic;
    box-shadow: 10px 10px 5px red;
    font-family: fantasy;
    background-color: #333;
    margin: 0 10%; 
}
button{
    align-content: center;
}
.form{
    padding: 5% 10%;  
}
.lista{
    border-top:20px;
    padding: 40px 20px;
    }
.img{
    align-content: center;
    /*padding: 5px 30px;*/
    margin: 3% 10%;
    padding: 5% 10%;
    border-radius: 10px 10px;
    
    background: -webkit-radial-gradient(center, transparent,red, darkred);
   
}
img{
    display: block;
    margin: auto;
    border:solid 1px black;
    box-shadow: 10px 10px 25px black;
    border-radius: 10px 10px;
}
li,.list-group-item,.list-group-item:first-child,.list-group-item:last-child{
    background: -webkit-linear-gradient(left,transparent,red, darkred);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-family: fantasy;
    color:red;
    }
li:hover,.list-group-item:hover {
    border-left: solid 4px darkred;
    color:black;
}
